body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  width: 700px;
  max-width: 100%;
  margin: 0 auto 100px;
  box-sizing: border-box;
  padding: 0 20px;
}

.logo {
  width: 80px;
  display: block;
  margin: 50px auto;
}

.copy {
  margin: 0;
  padding-bottom: 20px;
}

.answers {
  margin: 0;
  padding: 0;
  list-style: none;
}

.answers__item {
  margin: 0;
  outline: none;
  border: none;
  font-size: 16px;
  display: block;
  width: 100%;
  text-align: start;
  padding: 5px 10px;
  cursor: pointer;
}

@media (hover: hover) {
  .answers__item:hover {
    background: #eee;
  }
}

.final-gif {
  width: 100%;
  display: block;
  margin: 0 0 20px;
}

.button {
  outline: none;
  border: none;
  display: block;
  width: 200px;
  max-width: 100%;
  box-sizing: border-box;
  background: #000;
  color: #fff;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 16px;
  margin: 0 auto;
  cursor: pointer;
  font-weight: bold;
}